@mixin vh-fix($property, $value: 1, $offset: 0px) {
  $proportions: (3, 4), (2, 3), (10, 16), (9, 16), (10, 17); // 3/4, 2/3, 10/16, 9/16 and 10/17
  $proportions2: (4, 3), (3, 2), (16, 10), (16, 9), (17, 10);

  #{$property}: calc(
    #{$value}vh + #{$offset}
  ); // set property in normal vh, it'll be overwritten if device aspect ratio is one of declared

  @each $proportion in $proportions {
    $height: nth($proportion, 1);
    $width: nth($proportion, 2);

    @media (max-device-aspect-ratio: #{$height}/#{$width} ) and (max-width: 768px) {
      #{$property}: calc(
        ((100vw * (#{$width} / #{$height})) * (#{$value} / 100) * 0.91) + #{$offset} +
          40px
      );
    }
  }
  @each $proportion2 in $proportions2 {
    $height: nth($proportion2, 2);
    $width: nth($proportion2, 1);

    @media (max-device-aspect-ratio: #{$height}/#{$width} ) and (max-width: 768px) {
      #{$property}: calc(
        ((100vw * (#{$width} / #{$height})) * (#{$value} / 100) * 0.91) + #{$offset} +
          40px
      );
    }
  }
}
// canvas {
//   pointer-events: none;
// }

body {
  width: 100vw;
  @include vh-fix(height);
  overflow: hidden;
  color: rgba(255, 255, 255, 1);
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
.initial-hide {
  display: none;
}
#stage {
  opacity: 0;
}

#stage.on {
  opacity: 1;
  transition: opacity 3s ease-in-out;
}
section {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100%;
  text-align: center;
  pointer-events: none;
}
#home .container {
  position: relative;
  width: 100%;
  height: 80px;
  @include vh-fix(margin-top, 50, -100px);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  pointer-events: none;
  // background-color: violet;
}
#home h1 {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  text-rendering: geometricPrecision;
  letter-spacing: 10px;
  display: block;
  // background-color: yellow;
  margin: 0;
  padding: 0 0 0 7px;
  user-select: none;
  height: 40px;
}
.menu-home {
  pointer-events: none;
  opacity: 0;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  height: 40px;
  line-height: 40px;
  width: 100%;
  // background-color: yellowgreen;
  list-style: none;
  margin: 0 0 0 0px;
  padding: 0;
  user-select: none;
  transition: all 3s 3s ease-in-out;
}
.menu-home.on {
  pointer-events: all;
  opacity: 1;
}

#home ul li {
  // margin: 0 20px;
  padding: 0;
  display: inline;
  text-align: center;
  user-select: none;
  line-height: 15px;
}

#home ul li a {
  color: rgba(255, 255, 255, 0.5);
}

.credits {
  position: absolute;
  width: 450px;
  height: 50px;
  right: 0;
  bottom: 10;
  font-family: "Oswald", sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.4);
  // background-color: red;
  margin: 0;
  padding: 0;
}
.credits ul {
  margin: 0;
  padding: 0 10px 0 0 !important;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.credits li {
  display: block !important;
  width: 100%;
  text-align: right !important;
  // background-color: green;
}
